@use "default";
@use "components/header";
@use "components/intro";
@use "components/widget";
@use "components/latest-deals";
@use "components/deal-details";
@use "components/footer";

section.intro,
section.page-content {
  display: grid;
  grid-template-columns: 138px minmax(0, 1fr) 138px;
}

.update-info {
  font-size: 10px;
  text-align: right;

  &.hidden {
    visibility: hidden;
  }
}

main {
  padding: 0 5px;
}
